h1,i{
background-color:yellow;
text-align:center;
color:red;
}
h2{
background-color:pink;
color:blue;
}
#p1{
background-color:blue;
color:white;
}
.classselector{
background-color:green;
color:violet;
}
*{
color:orange;
background-color:white;
}
h4{
color:white;
background-color:black;
text-align:center;
}


